body {
	font-family: Arial, sans-serif;
	color: #444444;
	font-size: 1.5em;
	margin: 0px;
	margin-right: 1px;
}

div.auth a {
	color: #0073Ea;
	text-decoration: none;
	font-weight: bold;
}

div.auth a:hover {
	color: #18ce12;
}

div.auth {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

div.auth input.ui-button {
	position: relative;
	left: 50%;
}

img#loader {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: .5em;
	margin-bottom: .5em;
}

div#main-tabs {
	padding: 0px;
}

div.feedlist {
	width: 100%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	cursor: pointer;
	color: #444444 !important;
}

div.feedlist span.ui-icon {
	display: inline-block;
	margin-right: 0.5em;
	margin-left: 0.5em;
}

div#tab-read {
	padding: 0em;
}

div#tab-read div.read-header {
	min-height: 2.3em;
}

div#tab-read div.read-header span.title {
	display: block;
	max-width: 100%;
	padding-left: 5.2em;
	padding-right: 5.2em;
	text-align: center;
	padding-top: 0.6em;
}

div#tab-read div.read-header button {
	height: 2em;
	width: 5em;
}

div#tab-read div.read-header button span {
	margin-left: auto;
	margin-right: auto;
}

div#tab-read div.read-header button#read-back {
	position: relative;
	top: 0.2em;
	margin-left: 0.1em;
	float: left;
}

div#tab-read div.read-header button#read-refresh {
	float: right;
	position: relative;
	top: 0.2em;
}

h3.entry a {
	color: #444444 !important;
}

h3.entry.read-entry a {
	color: #aaaaaa !important;
}

h3.entry.read-entry {
	background: #eeeeff;
}

h3.entry div.entry-summary {
	font-size: 0.8em;
	margin-left: 3em;
	margin-top: -0.5em;
	color: #aaaaaa;
}

div.feedcontent {
	padding: 0 0 !important;
}

div.feedcontent div.feedbuttons {
	text-align: right;
	font-size: 0.75em;
	background-color: #f0f0f0;
	background-image: url('custom-theme/images/ui-bg_diagonals-thick_50_dddddd_40x40.png');
	border-bottom: #f8f8f8;
	margin: 0px;
	padding: 20px;
}

div.feedcontent div.feedbuttons div {
	float: left;
	margin-top: -0.9em;
}

div.feedcontent div.feedcontent-inner {
	padding: .5em .5em !important;
}

div.feedcontent span.entry-date {
	float: right;
}

div.feedcontent div.top-line {
	padding: .5em;
	background: #eee;
}
