body {
	font-family: Arial, sans-serif;
	color: #444444;
	font-size: 2em;
}

div.auth {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

div.auth input.ui-button {
	position: relative;
	left: 50%;
}

img#loader {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: .5em;
	margin-bottom: .5em;
}

div.feedlist {
	width: 100%;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	cursor: pointer;
	color: #444444 !important;
}

div.feedlist span.ui-icon {
	display: inline-block;
	margin-right: 0.4em;
	margin-left: 0.4em;
}

div#tab-read {
	padding: 0em;
}

div#tab-read div.read-header {
	height: 1.6em;
}

div#tab-read div.read-header span.title {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding-top: 0.2em;
}

div#tab-read div.read-header button#read-back {
	position: relative;
	top: -1.2em;
	margin-left: 0.1em;
}

div#tab-read div.read-header button#read-refresh {
	float: right;
	position: relative;
	top: -1.2em;
}
