{% load i18n %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<!-- icon for the ipod -->
	<link rel="apple-touch-icon" href="ipod-icon.png">
	<!-- this is a web app -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- mobile viewport fixed -->
	<meta name="viewport" content="width=device-width; initial-scale=1.0;">
	<!-- app style status bar -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	
	<link rel="stylesheet" href="/media/css/fugr.css" />
	<link rel="stylesheet" href="/media/css/custom-theme/jquery-ui-1.8.16.custom.css" />
	<title>{% block title %}FUGR Reader{% endblock %}</title>
	<script type='text/javascript' src='/media/js/jquery-1.6.2.min.js'></script>
	<script type='text/javascript' src='/media/js/jquery-ui-1.8.16.custom.min.js'></script>
	{% block scripts %}{% endblock %}
	<script>
		var username = "{{ user }}";
	</script>
	<script type='text/javascript' src='/media/js/fugr.js'></script>
</head>

<body>
	<div id="header"></div>

	<div id="content">
		{% block content %}{% endblock %}
	</div>

	<div id="footer">
		{% block footer %}{% endblock %}
	</div>
</body>

</html>
