{% extends "base.html" %}
{% load i18n %}

{% block content %}
	<!-- Main interface -->
	<div id="main-tabs" class='tabs'>
		<ul>
			<li><a href="#tab-read">Read</a></li>
			<li><a href="#tab-feeds">Feeds</a></li>
		</ul>
		<div id="tab-read">
			<img src='/media/img/loader.gif' id='loader'/>
		</div>
		<div id="tab-feeds">
			<div id='add-subscription-interface'><input name='feed-url' id='feed-url' class='ui-widget'/> <button class='ui-widget'>Add feed URL</button> or <button id='upload-opml'>Upload OPML</button></div>
			<div id='upload-opml-interface' style='display: none;'>
				<form enctype="multipart/form-data" method='post' action="/fugr/opml-upload" id='opml-upload'>
					{% csrf_token %}
					<input id='opml-upload' name='opml-upload' type='file'/>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
